<nav>
    <ul class="links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/new">
                <button type="button">New Message</button>
            </a>
        </li>
    </ul>
</nav>